flows (1).json
[{"id":"bf28e840.911cb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d54df6e.ceae9","type":"ui_group","z":"","name":"home","tab":"dde61e49.ff3e7","order":1,"disp":true,"width":"6","collapse":false},{"id":"720c9620.a2dfb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dde61e49.ff3e7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"48ef1e29.d223e","type":"ui_form","z":"bf28e840.911cb8","name":"","label":"home","group":"8d54df6e.ceae9","order":0,"width":0,"height":0,"options":[{"label":"year","value":"a","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"text","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"text","required":true,"rows":null},{"label":"alcohol","value":"d","type":"text","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"text","required":true,"rows":null},{"label":"hepatitis B","value":"f","type":"text","required":false,"rows":null},{"label":"Measles","value":"g","type":"text","required":true,"rows":null},{"label":"BMI","value":"h","type":"text","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"text","required":true,"rows":null},{"label":"polio","value":"j","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"l","type":"text","required":true,"rows":null},{"label":"HIV","value":"m","type":"text","required":true,"rows":null},{"label":"GDP","value":"n","type":"text","required":true,"rows":null},{"label":"Population","value":"o","type":"text","required":true,"rows":null},{"label":"thinness  1-19 years","value":"p","type":"text","required":true,"rows":null},{"label":"thinness 5-9 years","value":"q","type":"text","required":true,"rows":null},{"label":"Income composition of resources","value":"u","type":"text","required":true,"rows":null},{"label":"Schooling","value":"r","type":"text","required":true,"rows":null},{"label":"Developed","value":"s","type":"text","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","u":"","r":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"prediction","x":110,"y":400,"wires":[["7c3c5bef.95df04"]]},{"id":"10157657.d68faa","type":"ui_text","z":"bf28e840.911cb8","group":"8d54df6e.ceae9","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload['values']}}","layout":"row-spread","x":770,"y":300,"wires":[]},{"id":"7c3c5bef.95df04","type":"function","z":"bf28e840.911cb8","name":"pre token","func":"\n\n\n//set global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\nvar apikey = \"rXf5oXaIfJ8dnZdGcXpqNnypZEt4aA1g8dQT9tVIDQfz\";\nmsg.headers= {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload= {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["c6e2bd8a.97ce2"]]},{"id":"30b094bb.1cdb5c","type":"function","z":"bf28e840.911cb8","name":"post token","func":"\nvar token = msg.payload.access_token;\nvar instance_id = \"2a56a0d1-f6b1-416a-9ff5-ccf1d0606cc8\";\nmsg.headers = { \"Content-Type\":\"application/json\",\n                \"Authorization\":\"Bearer \"+token,\n                \"ML-Instance-ID\":instance_id};\n\n\n//set global variables\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar u = global.get(\"u\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\nmsg.payload = {\"fields\":['Year', 'Adult Mortality', 'infant deaths',\n       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n       'Developed'],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,u,r,s]]\n        };\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["bc390293.91319"]]},{"id":"c6e2bd8a.97ce2","type":"http request","z":"bf28e840.911cb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["30b094bb.1cdb5c"]]},{"id":"bc390293.91319","type":"http request","z":"bf28e840.911cb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/2a56a0d1-f6b1-416a-9ff5-ccf1d0606cc8/deployments/741ffb2d-14e9-47bd-b73b-02280c533c56/online","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":380,"wires":[["10157657.d68faa","cb246693.5b1b38"]]},{"id":"cb246693.5b1b38","type":"debug","z":"bf28e840.911cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":460,"wires":[]}]